      .container {
            position: relative;
            text-align: center;
            color: white;
          }
          
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
          }
          .navbar {
            width: 100%;
            background-color:black;
            overflow: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
          }
          
          .navbar a {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
          }
          
          .navbar a:hover {
            background-color: #000;
          }