      .container {
            position: relative;
            text-align: center;
            color: white;
          }
          
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
          }
          .navbar {
            width: 100%;
            background-color:black;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 5px;
          }
          
          .navbar a {
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
          }
          
          .navbar a:hover {
            background-color: grey;
          }
          .about{
            text-align: center;
            background-color: cornsilk;

          }
          .info{
            text-align: center;
          }
          .review{
            padding: 5px 5px;
            border-radius: 5px;
            border: none;
            height: 40px;
            width: 40px;
            position: fixed;
            right: 10px;
            bottom: 10px;
          }